/*---------- pc,sp common ----------*/
body {
	font-family:
	 "monaco", "Meiryo", "HiraginoSans-W3",
		"Source Sans Pro", "Hiragino Kaku Gothic ProN",
    Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0px;
  color: rgba(80, 80, 80, 1);
  width: 100%;
}

a {
  color: #505050;
}
  
  
/* ---------- header ---------- */
header {
  width: 100%;
  height: 50px;
  margin: 0;
  /* border: 1px solid lightblue; */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1001;
}



/* ---------- nav ---------- */
.logoBox, .nav-pc {
  margin: 10px 0 10px calc(3.5vmax);
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 3px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-pc {
  margin: 10px  calc(3.5vmax) 10px 0;

}

.logoBox > a, .nav-pc > a {
  margin: 3px calc(0px + 2vw);
  font-size: calc(5px + 1vw);
  transition: 350ms 50ms;
  display: block;
}
.logoBox > a {
  font-size: calc(12px + 1vw);
}

.logoBox > a:link, .nav-pc > a:link {
  text-decoration: none;
}

.logoBox > a:visited, .nav-pc > a:visited {
  text-decoration: none;
}

.logoBox > a:active, .nav-pc > a:active {
  text-decoration: none;
}

header a:hover {
  color: #00d0f0;
  text-decoration: none;
}

/* ---------- main ---------- */

body, .logoBox, .nav-pc {
  transition: 500ms ease 100ms;
}

main {
  margin: 0;
  width: 100%;
  overflow: hidden;

}

p , .link {
  transition: 350ms;
}

/* ---------- head line ---------- */

.headline {
  font-size: calc(3vmax + 10px);
  transition: 350ms;
  margin: 0;
  opacity: 0;
  position: fixed;
  left: 0px;
  width: 50vw;
  transform-origin: left top;
  rotate: -90deg;
  z-index: 1100;
}


/* ---------- top img ---------- */
.topImg {
  width: 100%;
  margin: 50px auto 55vw auto;
  opacity: 0;
}

#carouselSection {
  width: 100%;
  margin: 0 auto;
}

.topPic {
  width: 100vw;
}



/* ---------- Box ----------*/
.Box {
  min-height: 500px;
  width: 75vw;
  margin: 5vw auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid paleturquoise; */
  transition: 1000ms;
  overflow: hidden;
}

/* ---------- about ---------- */
.about {
  /* opacity: 0; */
  transition: 1500ms;
  margin: 100px auto;
}

/* .aboutBox { */
  /* min-height: 100px; */
  /* width: 75vw; */
  /* margin: 10vw auto; */
  /* border: 1px solid paleturquoise; */
  /* text-align: center; */
  /* font-size: calc(2vw + 30px); */
/* } */

/* ---------- work ---------- */
.work {
  /* opacity: 0; */
  transition: 1500ms;
  margin: 100px auto;
}


.itemBox {
  text-align: right;
  width: calc(7vw + 210px);
  height: calc(7vw + 280px);
  margin: 10px 0;
  padding: 0;
  overflow: hidden;
}

.pic {
  width: calc(7vw + 210px);
  height: calc(7vw + 210px);
  /* border: 1px solid paleturquoise; */
  object-fit: contain;
}

.pic:hover {
  transition: 150ms;
  transition-delay: 150ms;
  scale: 1.03 1.03;
  translate: 0 -1%;
  /* rotate: .1deg; */
  /* transform: rotate3d(1, 1, 0, 15deg); */
  /* transform: scale3d(1.05,  1.05, 1); */
}

/* ---------- contact ---------- */
.contact {
  /* opacity: 0; */
  transition: 1500ms;
  margin: 100px auto;

}

/* .contactBox { */
  /* min-height: 100px; */
  /* width: 75vw; */
  /* margin: 10vw auto; */
  /* border: 1px solid paleturquoise; */
  /* text-align: center; */
  /* font-size: calc(2vw + 30px); */
/* } */

/* ---------- footer ---------- */

footer {
  width: 100vw;
  /* height: calc(50px - 1vw); */
  /* background-color: #505050; */
  margin-top: 5vw; 
  padding: 0;
  position: relative;

}

.copy {
  font-size: calc(5px + .7vw);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

/* ---------- modal ---------- */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 31, 26, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  overscroll-behavior-y: contain;
}

.modalPic {
  display: block;
  max-width: 75vw;
  max-height: 75vh;
}

.close {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 10px;
  color: #f0f0f0;
}
.comment {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  color: #f0f0f0;
}

/* ---------- to top btn ---------- */
.toTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 75px;
  width: 75px;
  border-radius: 100px;
  background-color: #505050;
  border: 2px solid #f0f0f0;
  transition: 350ms ease;
  opacity: 0;
}

.toTop img {
  position: relative;
  top: 5px;
  left: 5px; 
  width: 65px;
  height: 65px;
}

/* ---------- dark mode btn ---------- */
.dark {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: #505050;
  border: 2px solid #f0f0f0;
  transition: 350ms ease;
  opacity: 0;
}

.dark img {
  width: 50px;
  height: 50px;
  position: relative;
  left: 13px;
  top: 12px;
}

.bg {
  background-color: #1a1f1a;
}

.boxdk {
  background-color: rgba(26, 31, 26, .5);
}

.chardk {
  color: #f0f0f0;
}

/* ---------- window scroll ----------*/
#scr {
  position: fixed;
  right: 100px;
  bottom: 20px;
}
#width {
  position: fixed;
  right: 300px;
  bottom: 20px;
}
#height {
  position: fixed;
  right: 200px;
  bottom: 20px;
}

