/*---------- pc,sp common ----------*/
body {
	font-family:
	 "monaco", "Meiryo", "HiraginoSans-W3",
		"Source Sans Pro", "Hiragino Kaku Gothic ProN",
    Arial, sans-serif;
    background-color: #fafafa;
    margin: 0px;
    color: #505050;
  }
  
  
/* ---------- header ---------- */
header {
  width: 100%;
  margin: 0;
  padding: 0;
  /* border: 1px solid lightblue; */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1001;
}

#logo {
  margin: auto 30px;
}
.logoImg {
  width: 35px;
  /* height: 20px; */
} 

/* ---------- nav-pc ---------- */
.nav-pc {
  margin: 10px calc(0px + 3vw);
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 3px;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
}

.nav-pc > a {
  margin: 0px calc(0px + 5vw);
  font-size: 20px;
  transition: 350ms 50ms;
  display: block;
}

.nav-pc > a:link {
  text-decoration: none;
}

.nav-pc > a:visited {
  text-decoration: none;
}

 .nav-pc > a:active {
  text-decoration: none;
}

.nav-pc > a:hover {
  color: #00e0e0;
  text-decoration: none;
}

/* ---------- main ---------- */

body, .nav-pc {
  transition: 500ms ease 100ms;
}

main {
  margin: 0;
  width: 100%;
}

h1, p , .link {
  transition: 350ms;
}

a {
  color: #505050;
}

/* ---------- top img ---------- */
#topImg {
  width: 100%;
  margin: 50px auto;
  opacity: 0;
}

#carouselSection {
  width: 100%;
  margin: 0 auto;
}

.topPic {
  width: 100vw;
  /* height: calc(100vh - 50px); */
}

/* ---------- head line ---------- */

/* .headbox { */
  /* width: 1080px; */
  /* margin: 50px auto 0 auto; */
/* } */
.abouthead, .workhead, .contacthead {
  display: block;
  font-size: 50px;
  margin: 50px auto;
  /* opacity: 0; */
  width: 75vw;
  /* color: #505050; */
}

/* ---------- about ---------- */
.about {
  opacity: 0;
  transition: 1000ms;
}

.aboutBox {
  min-height: 100px;
  border: 1px solid paleturquoise;
  width: 75vw;
  margin: 30px auto;
}

/* ---------- work ---------- */
.work {
  opacity: 0;
  transition: 1000ms;
}

.workBox {
  min-height: 100px;
  border: 1px solid paleturquoise;
  width: 75vw;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  margin: 3vw 0;
  text-align: right;
}

/* ---------- contact ---------- */
.contact {
  opacity: 0;
  transition: 1000ms;
}

.contactBox {
  min-height: 100px;
  border: 1px solid paleturquoise;
  width: 75vw;
  margin: 30px auto;

}

/* ---------- footer ---------- */

footer {
  width: 75vw;
  height: 30px;
  background-color: #505050;
  margin: 30px auto 0 auto; 
  padding: 0;
  position: relative;

}

#copy {
  font-size: calc(5px + .5vw);
  color: #fafafa;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* ---------- modal ---------- */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  color: #fafafa;
  z-index: 1100;
}

.add {
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.modalPic {
  display: block;
  width: 70vmin;
  /* height: auto; */
}

.close {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 5px;
}


/* ---------- to top btn ---------- */
.toTop {
  position: fixed;
  right: 20px;
  bottom: 30px;
  height: 75px;
  width: 75px;
  border-radius: 100px;
  background-color: #505050;
  border: 2px solid #fafafa;
  transition: 350ms ease-in-out;
  opacity: 0;
}

.toTop img {
  position: absolute;
  top: 5px;
  left: 5px; 
  width: 65px;
  height: 65px;
}

#scr {
  position: fixed;
  right: 20px;
  bottom: 0px;
}

/* ---------- dark mode btn ---------- */
.dark {
  position: fixed;
  left: 20px;
  bottom: 30px;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: #505050;
  border: 2px solid #fafafa;
  transition: 300ms ease-in-out;
  opacity: 0;
}

.dark img {
  width: 50px;
  height: 50px;
  position: relative;
  left: 13px;
  top: 12px;
}

.bg {
  background-color: #1a1f1a;
}

.navdk {
  background-color: rgba(26, 31, 26, 0.7);
}

.chardk {
  color: #fafafa;
}
